* {
    box-sizing: border-box;
}

.result-wrap {
    width: 100%;
    border: 2px solid black;
    margin-top: 20px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.result-wrap h1 {
    font-size: 2rem;
}

.image-wrap img {
    width: 300px;
    height: 100%;
    max-height: 200px;
}